body {
  background-color: black;
}
.navBar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}
.items {
  list-style: none;
  display: flex;
}
.content {
  min-height: 500px;
  width: 100vw;
  background: url("../pics/blob.svg");
  font-family: Jost;
  display: grid;
  grid-template: auto / 2fr 1fr;
  color: white;
}
.header {
  min-height: 50px;
  font-size: 3em;
}
