
@font-face {
    font-family: acme;
    src: url(acme.ttf);
}
@font-face {
    font-family: Alegreya;
    src: url(Alegreya.ttf);
}

@font-face {
    font-family: alegreyasans;
    src: url(AlegreyaSans.ttf);
}

@font-face {
    font-family: Amita;
    src: url(Amita.ttf);
}

@font-face {
    font-family: Anonymous;
    src: url(AnonymousPro.ttf);
}

@font-face {
    font-family: Anton;
    src: url(Anton.ttf);
}

@font-face {
    font-family: Arvo;
    src: url(Arvo.ttf);
}

@font-face {
    font-family: Biorhyme;
    src: url(BioRhyme.ttf);
}

@font-face {
    font-family: Bitter;
    src: url(Bitter.ttf);
}

@font-face {
    font-family: BreeSerif;
    src: url(BreeSerif.ttf);
}

@font-face {
    font-family: Cabin;
    src: url(Cabin.ttf);
}

@font-face {
    font-family: ChauPhilomeneOne;
    src: url(ChauPhilomeneOne.ttf);
}

@font-face {
    font-family: Domine;
    src: url(Domine.ttf);
}

@font-face {
    font-family: Eczar;
    src: url(Eczar.ttf);
}

@font-face {
    font-family: Exo;
    src: url(Exo.ttf);
}


@font-face {
    font-family: Inconsolata;
    src: url(Inconsolata.ttf);
}

@font-face {
    font-family: InknutAntiqua;
    src: url(InknutAntiqua.ttf);
}

@font-face {
    font-family: JosefinSans;
    src: url(JosefinSans.ttf);
}

@font-face {
    font-family: Kalam;
    src: url(Kalam.ttf);
}

@font-face {
    font-family: LibreBaskerville;
    src: url(LibreBaskerville.ttf);
}

@font-face {
    font-family: Lora;
    src: url(Lora.ttf);
}

@font-face {
    font-family: Philosopher;
    src: url(Philosopher.ttf);
}

@font-face {
    font-family: PlayfairDisplay;
    src: url(PlayfairDisplay.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(Poppins.ttf);
}

@font-face {
    font-family: ProzaLibre;
    src: url(ProzaLibre.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(Quicksand.ttf);
}

@font-face {
    font-family: RobotoSlab;
    src: url(RobotoSlab.ttf);
}

@font-face {
    font-family: Rubik;
    src: url(Rubik.ttf);
}

@font-face {
    font-family: SpaceMono;
    src: url(SpaceMono.ttf);
}

@font-face {
    font-family: Spectral;
    src: url(Spectral.ttf);
}

@font-face {
    font-family: Oswald;
    src: url(oswald.ttf);
}
@font-face {
    font-family: Oswald-b;
    src: url(Oswald-Bold.ttf);
}
@font-face {
    font-family: JosefinSlab;
    src: url(JosefinSlab-Regular.ttf);
}
@font-face {
    font-family: PassionOne;
    src: url(PassionOne-Regular.ttf);
}@font-face {
    font-family: Satisfy;
    src: url(Satisfy-Regular.ttf);
}@font-face {
    font-family: Viga;
    src: url(Viga-Regular.ttf);
}

@font-face {
    font-family: Abrilfatface;
    src: url(Abrilfatface-Regular.ttf);
}
@font-face {
    font-family: JosefinSans;
    src: url(Josefinsans-Regular.ttf);
}
@font-face {
    font-family: robotothin;
    src: url(Roboto-Thin.ttf);
}
@font-face {
    font-family: poiretone;
    src: url(PoiretOne-Regular.ttf);
}

@font-face {
    font-family: raleway;
    src: url(Raleway-Regular.ttf);
}



@font-face {
    font-family: majormonodisplay;
    src: url(MajorMonoDisplay-Regular.ttf);
}


@font-face {
    font-family: montserrat;
    src: url(montserrat.ttf);
}


