.profile_container_pic_detail {
  min-height: 400px;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.profile_pic_view_change_butt {
  position: absolute;
  top: 40px;
  min-height: 50px;
  display: grid;
  min-width: 100px;
  grid-template: auto / 1fr;
  grid-gap: 10px;
  margin-top: 20px;
  justify-items: end;
}
.upperControl_Profile_Detail_container {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template: 1fr 4fr / auto;
}
.upperControl_Profile_Detail {
  width: 100%;
  position: relative;
  top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: baseline;
}
.details_profile {
  color: #d7d7d7;
}
.name_details_profile {
  font-size: 1.8em;
  color: #e1dddd;
  font-family: BoldJost !important;
}
.details_profile {
  color: #b9b5b5;
  background: #0d0c0c;
  border-radius: 10px;
  padding: 10px 0px 10px 30px;
  margin-right: 10px;
  box-shadow: -3px 4px 8px -5px #55555991;
  display: grid;
  grid-template: 1fr 5fr / 1fr 2fr;
}
.bansaz_items_profile_title_ab {
  font-size: 1.7em;
  grid-column: span 2;
  letter-spacing: 1px;
  font-family: BoldJost !important;
  margin: 2px 0px 2px 2px;
}
.lower_profile_Others_container {
  background: #0d0c0c;
  color: white;
  padding: 10px;
  box-shadow: -3px 4px 8px -5px #55555991;
  border-radius: 10px;
}
.user_about_items__ {
  padding: 15px 10px;
  border-radius: 10px;
  color: #d2cccc;
  transition: 0.2s linear;
  display: flex;
  align-items: center;
  gap: 10px;
}
.add_input_field_dialog__comp {
  color: white;
  font-size: 1.5em;
  font-family: BoldJost !important;
}
.input_add_input_field_dialog__comp {
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 11px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
}
.input_add_input_field_dialog__comp input {
  background: transparent;
  border: none;
  width: 100%;
  color: white;
  font-size: 1.1em;
  letter-spacing: 0.02em;
  caret-color: #aea7a7b5;
}
.control_input_add_input_field_dialog__comp {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.message_profile_add_about_err,
.message_profile_add_about_correct {
  font-size: 1em;
  padding-left: 10px;
}
.message_profile_add_about_err {
  color: #bb2c2c;
  border-left: 2px solid #8e0c0c;
}
.message_profile_add_about_correct {
  color: #147514;
  border-left: 2px solid #0a4a0a;
}
