.searchBar {
  right: 10px;
  position: absolute;
  display: grid;
  align-items: center;
  width: 300px;
  height: 50px;
}

.searchBar .search {
  width: 50px;
  height: 50px;
  background: #262525e6;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
  position: relative;
  justify-self: end;
}

.searchBar .search:hover {
  cursor: pointer;
}

.searchBar .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 20px;
  right: 8px;
  bottom: 5px;
  left: 22px;
  width: 10px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 0.5s;
}

.searchBar .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.5s;
}

.searchBar input {
  position: absolute;
  margin: auto;
  right: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: #151515eb;
  color: white;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 10px -1px #312e2f26, 0 20px 25px 0 rgba(36, 33, 33, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  letter-spacing: 0.1em;
  box-sizing: border-box;
}

.searchBar input:hover {
  cursor: pointer;
}

.searchBar input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}

.searchBar input:focus ~ .search {
  background: #151515;
  z-index: 6;
}

.searchBar input:focus ~ .mobile_notification {
  z-index: 0;
}

.searchBar input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

/*  */
.menuIcon {
  color: white;
}

.mob_create,
.mob_profile,
.accountSettings,
.help,
.logout {
  width: 95%;
  min-height: 50px;
  background: #151515ed;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.1em;
  border-radius: 10px;
  transition: 0.2s all;
  padding: 5px 0px;
}

.desktop_nav_buttons_drop {
  background: transparent !important;
}

.desktop_nav_buttons_drop:hover {
  background: #151515ed !important;
}

.rightIcon {
  position: absolute;
  right: 10px;
  color: #a8a0a0;
}

.mob_profile_name_nav_detail {
  font-size: 0.8em;
  color: #a4a0a0db;
}

.mob_profile {
  min-height: 100px;
}

.info_nav {
  color: #bdbabae8;
  margin-left: 10px;
  font-size: 0.8em;
}

.closer_nav_mob_dash {
  justify-self: end;
}

/* Desktop */
.desktop_search {
  width: 400px;
  height: 50px;
  outline: none;
  border: none;
  background: #151515eb;

  border-radius: 30px;

  display: flex;

  margin-left: 20px;
  justify-content: space-around;
}
.desktop_search input {
  background: #141414;
  outline: none;
  border: none;
  color: #c8bebe;
  font-size: 0.9em;
  width: 70%;
}

.desktop_buttons_functions_nav {
  right: 0;
  position: absolute;
  display: flex;
  min-width: 400px;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}

.mobile_notification {
  position: absolute;
  right: 50px;
  z-index: 10;
}

@media only screen and (max-width: 700px) {
  .desktop_search {
    width: 300px;
  }
}
