.error_body {
  margin: 0;
  padding: 0;
  font-family: "Tomorrow", sans-serif;
  height: 100vh;
  background-image: linear-gradient(
    to top,
    #2e1753,
    #1f1746,
    #131537,
    #0d1028,
    #050819
  );
}
.avatar {
  border-radius: 100%;
  background: #3521600d;
  height: 200px;
  width: 200px;
  box-shadow: 0.1px 0.1px 15px 0px #00000014;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatarContainer {
  border-radius: 60% 40% 12% 88% / 78% 90% 10% 22%;
  background: #12103080;
  height: 400px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  height: 50px;
  width: 100vw;
  color: white;
  font-size: 1.6em;
}
.errContent {
  width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.er {
  font-size: 1.5em;
  margin-left: 10px;
  color: #cdd0d2;
}
.errCode {
  font-size: 3em;
  color: #dea806;
}
.error_descript {
  color: #2196f3;
  border-bottom: 1px solid #06497ed4;
  padding: 10px;
}
.butt_err {
  padding: 10px 20px 10px 20px;
  font-size: 1em;
  background: #ad850e;
  border: 0;
  border-radius: 0px 5px;
  color: white;
  cursor: pointer;
  box-shadow: -0.1px 0.1px 20px 0px #1f1c10db;
  margin-top: 20px;
  z-index: 2;
}
.butt_err:hover {
  background: #7c5f0b;
}
