body {
  background-color: black;
}
.intro {
  position: relative;
  overflow: hidden;
}
.introContainer {
  min-height: 800px;
  width: 100vw;
  background: url(../pics/blob.svg) no-repeat;
  background-size: 694px;
  background-color: black;
  display: grid;
  grid-template: 1fr / 2fr 1fr;
  background-position: top left;
  background-size: 800px;
}
.blobSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.header {
  font-size: 2em;
}
.subheader {
  font-size: 0.4em;
}
.blobber {
  position: absolute;
  min-height: 400px;
  min-width: 400px;
  left: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.controlButtons button {
  margin-left: 10px;
}
@media only screen and (max-width: 700px) {
  .introContainer {
    grid-template: auto / 1fr;
    background-position-x: -75px;
    background-position-y: -50px;
  }
  .blobber {
    left: auto;
  }
}
