.login {
  min-height: 90vh;
  width: 100vw;
  position: relative;
}
.animated {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.loginForm,
.registerForm,
.forgotForm {
  margin: auto;
  border-radius: 0px 0px 40px 10px;
  background-color: #404040e6;
  position: relative;
  box-sizing: border-box;
  top: 100px;
}
.loginForm {
  height: 600px;
  width: 400px;
}
.forgotForm {
  height: 500px;
  width: 400px;
}
.registerForm {
  height: 750px;
  width: 450px;
  display: grid;
  grid-template: auto / 1fr 5fr;
  padding: 0px 80px 0px 0px;
}
.forgotForm .swipeItem {
  align-content: center;
  grid-gap: 20px;
}
.forgotForm .Avatar {
  position: absolute;
  top: 10px;
}
.Avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.controlBar {
  position: relative;
  justify-self: end;
}
.loginForm .controlBar {
  bottom: 30px;
}
.controlBar button {
  margin-right: 10px;
}
.accountOptions {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9em;
}
.accountOptions a {
  margin-top: 10px;
}
.accountOptions a:hover {
  color: #a9a2a2;
}
.swipeItem {
  display: grid;
  grid-template: auto / 1fr;
  justify-items: center;
  height: 100%;
  width: 100%;
}
.reg2 {
  justify-items: end;
}
.reg3 {
  font-size: 0.9em;
  color: #e6dede;
}
.reg3,
.reg2 {
  grid-gap: 30px;
  align-content: center;
}
.reg2 .Avatar,
.reg3 .Avatar {
  position: absolute;
  top: 40px;
  justify-self: center;
}
.loginForm > div,
.loginForm > div > div,
.registerForm > div:first-of-type,
.registerForm > div > div:first-of-type,
.forgotForm > div:first-of-type,
.forgotForm > div > div:first-of-type {
  height: 100%;
}
.stepper {
  max-height: 400px;
  align-self: center;
  position: relative;
  left: 10px;
}
.remember {
  min-width: 250px;
  bottom: 30px;
  position: relative;
  color: #a9a8a5;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  max-height: 20px;
}
.forgotForm .info {
  margin-top: 100px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.instead a {
  color: #b5adbb;
}
.instead a:hover {
  text-decoration: underline;
}
.err {
  color: #f0554e;
  border-left: 2px solid #d5504a;
  display: inline-flex;
  align-items: center;
  padding-left: 10px;
  position: relative;
}
.loginForm .err {
  bottom: 20px;
}
@media only screen and (max-width: 500px) {
  .loginForm {
    height: 100vh;
    width: 100vw;
  }
  .loginForm,
  .registerForm {
    border-radius: 0;
    top: 0;
  }
  .registerForm {
    height: 150vh;
    width: 100vw;
    padding: 0;
  }
}
