.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}
.logo {
  margin-left: 10px;
}
.navItems ul {
  display: grid;
  list-style-type: none;
  grid-template: auto / 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  color: white;
}
